
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header {
    z-index: 2;
    display: flex;
    position: fixed;
    background-color: white;
    top: 0;
    width: 1200px;
    height: 53px;
    border-bottom: 0.3px solid grey;
}

.nav {
    display: flex;
    vertical-align: top;
    margin-left: 180px;
    margin-top: 10px;
}

.link {
    margin-right: 50px;
    color: black;
    font-weight: 400;
    margin-right: 50px;
}

.link:hover {
    border-bottom: 2px solid rgba(70, 163, 88, 1);
    color: black;
    font-weight: 700;
    padding-bottom: 21px;
    transition: 0.2s;
}

.link:last-child {
    margin-right: 0px;
}

.Login {
    margin-left: 350px;
    width: 100px;
    height: 35px;
    background-color: rgba(70, 163, 88, 1);
    border-radius: 10px;
    color: white;
}

.wrapper-container {
    background-color: rgba(245, 245, 245, 0.5);
    height: 450px;
    width: 1200px;
    margin-top: 65px;
}

.wrapper-text {
    display: inline-block;
}

.subtitle {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 68px;
    margin-left: 40px;
}

.title {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-align: left;
    margin-left: 40px;
    height: 140px;
    width: 530px;
}

.color-text {
    color: rgba(70, 163, 88, 1);
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 40px;
    width: 574px;
}

.wrapper {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: rgba(70, 163, 88, 1);
    color: white;
    width: 140px;
    height: 40px;
    text-align: center;
    margin-left: 40px;
    margin-top: 40px;
}

.main {
    width: 1200px;
    margin: 0px 120px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.box-left {
    background-color: rgba(251, 251, 251, 1);
    float: left;
    clear: both;
}

.navigation {
    margin-left: 18px;
}

.title-section1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 14px;
}

.list-wrapper {
    padding-left: 12px;
    margin-top: 13px;
}

.list-wrapper a {
    margin-top: 23px;
    font-size: 15px;
    line-height: 40px;
    transition: 0.2s;
}   

.list-wrapper a:hover {
    color: rgba(70, 163, 88, 1);
    font-weight: 700;
}

.promo {
    width: 310px;
    height: 470px;
    margin-top: 375px;
}

.box-right {
    float: left;
    margin-left: 50px;

}

.wrapper-navigation {
    width: 838px;
    margin-bottom: 31px;
}

.navigation-cards a {
    margin-right: 37px;
}

.navigation-cards a:last-child {
    margin-right: 0;
}

.navigation-cards a:hover {
    color: rgba(70, 163, 88, 1);
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 5px;
    border-bottom: 2px solid ;
    transition: 0.1s;
}

.navigation-cards {
    float: left;
}

.list-short {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}  

.card-section:nth-child(n+3) {
    margin-top: 70px;
}

.cards-section1 {
    position: relative;
    float: left;
    margin-right: 33px;
}

.cards-section1:nth-child(3n) {
    margin-right: 0px;
}

.cards-sale {
    background-color: rgba(70, 163, 88, 1);
    width: 90px;
    position: absolute;
    left: 0;
    top: 14px;
}

.sale-price {
    color: rgba(203, 203, 203, 1);
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
}

.cards-sale p {
    padding: 7px 9px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}

.image {
    padding: 31px 4px;
    position: absolute;
}

.image-wrapper {
    background-color: rgba(251, 251, 251, 1);
    width: 258px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.text-cards-section1 {
    font-size: 16px;
    line-height: 16px;
    margin-top: 12px;
}

.price {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: rgba(70, 163, 88, 1);
}

.pages {
    font-size: 0;
    margin-top: 50px;
    text-align: right;
}

.pages p {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid rgba(61, 61, 61, 1);
    border-radius: 3px;
    padding: 9px 12px;
    margin-right: 10px;
}

.pages p:first-child {
    background-color: rgba(70, 163, 88, 1);
    color: white;
}

.pages p:last-child {
    margin-right: 0;
}

.pages p:active {
    color: white;
    background-color: rgba(70, 163, 88, 1);
    font-size: 18px;
    font-weight: 700;
    transition: 0.1s;
}

.card-hover {
    display: flex;
    justify-content: center;
    gap: 26px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -37px;
    transition: 0.2s;
}

.cards-section1:hover .card-hover {
    bottom: 7px;
}

.cards-section1::before {
    content: "";
    height: 2px;
    background-color: rgba(70, 163, 88, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1;
}

.cards-section1:hover::before {
    display: block;
}

.section1 {
    margin-top: 50px;
}

.hero {
    margin-top: 1440px;
    clear: both;
    display: flex;
}

.frame {
    position: relative;
    width: 586px;
    height: 302px;
}

.styling-trends {
    margin-left: 25px;
}

.image-summer-cactus {
    position: absolute;
    mix-blend-mode: multiply;
    width: 287px;
    height: 292px;
    bottom: 7px;
}

.summer-cactus {
    position: absolute;
    bottom: 0;
    height: 250px;
    width: 100%;
    background-color: #FBFBFB;
    padding-top: 37px;
    padding-right: 30px;
}

.text-summer-cactus {
    text-align: right;
}

.title-summer-cactus {
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
}

.text-summer-cactus p {
    font-size: 14px;
    line-height: 24px;
    color: #727272;
}

.button-find {
    color: white;
    margin-top: 25px;
    padding: 11px 28px;
    width: 146px;
    background-color: #46A358;
    border-radius: 4px;
}

.blog-posts {
    margin-top: 138px;
}

.title-blogs {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;
}

.subtitle-posts {
    margin-top: 15px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.card {
    background-color: #FBFBFB;
    width: 268px;
    margin-right: 44px;
}

.cards {
    display: flex;
    margin-top: 35px;
}

.last-card {
    margin-right: 0;
}

.data {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #46A358;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.text-card {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #727272;
}

.more {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #3D3D3D;
}

.active {
    color: #46A358;
}

.card-content {
    margin-top: 8px;
    margin-left: 15px;
}

.sub-list {
    position: absolute;
    display: none;
    flex-direction: column;
    transition: all 0.1s;
    padding-top: 12px;
}

.sub-list-first-level {
    top: 42px;
    left: -50%;
}

.sub-list-second-level {
    top: -108px;
    left: 100%;
    padding-left: 3px;
}

.navigation-item-list {
    position: relative;
    display: flex;
}

.navigation-item-list:hover > .sub-list {
    display: flex;
}

.navigation-item {
    padding: 7px 14px;
    width: 188px;
    background-color: rgba(237, 246, 238, 1);
    display: flex;
}

.navigation-item2 {
    padding: 7px 14px;
    width: 178px;
    background-color: rgba(237, 246, 238, 1);
    display: flex;
}

.navigation-item a {
    font-size: 16px;
    line-height: 20px;
}

.hover:hover {
    background-color: rgba(26, 113, 42, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: white;
}

.navigation-item img {
    margin-left: 98px;
}

.sub-list-colored {
    display: flex;
    flex-direction: column;
    transition: all 0.1s;
}

